.topbar {
    top: 0;
    left: 0;

    position: fixed;
    height: 9vh;

    width: 100%;

    display: flex;
    justify-content: space-between;

    align-items: center;

    background-color: var(--supporting-color);

    padding: 20px 0;

    border-bottom: 1px solid var(--border-color);



}

.topbar p {
    display: flex;

    font-size: 2rem;

    align-items: center;

    color: var(--text-color);

    margin-left: 8%;

    border-bottom: var(--secondary-color) 2px solid;


}

.barButtons {
    color: var(--text-color);

    border-radius: 1rem;

    display: flex;
    flex-direction: row;

    align-items: center;

    margin-right: 8%;

}

.barButtons a {
    text-decoration: none;

    font-size: 1.10rem;

    color: var(--text-color);


    margin: 0 2rem;
    display: block;
}

