.topbar {
    top: 0;
    position: fixed;
    height: 8vh;

    width: 100%;

    display: flex;
    justify-content: space-around;

    align-items: center;

    background-color: goldenrod;

}

.topbar p {
    display: flex;
    align-items: center;

    padding: 1rem;
    
    font-size: 2rem;
    font-weight: 900;
    color: black;

}

.barButtons {
    border-radius: 1rem;

    display: flex;
    flex-direction: row;

    align-items: center;

}

.barButtons a {
    margin: 0 2rem;
    display: block;

    text-decoration: none;
    font-size: 1.10rem;
    font-weight: bold;
    color:black
}

