.headerBlock {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    width: 100dvw;

    margin-top: 15vh;

}

h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    font-weight: 900;

    margin: 1rem 0;
}

h3 {
    display: block;
    width: fit-content;
    font-size: 1.5rem;
}