:root {
  --color-bg: #0d0e13;
  --color-card: #0f1116;
  --color-text: #ffffff;

  --color-text-hover: #BA2D0B;

  --color-separator: #BA2D0B;

  --spacing-lg: 2rem;
  --spacing-md: 1rem;

  --border-radius: 1rem;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: white;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
