.splitRow {
    display: flex;
    flex-direction: row;
    padding: 1rem 3dvw;
}

.verticalLine {
    border-right: thick solid white;
}

h1 {
    font-size: 2rem;
    width: 15dvw;
}

h3 {
    font-size: 1rem;
    
}